// font_names 
$menuFont: 'GothamBook';
$titleFont: 'gothambold1';
$regularTextFont: 'OpenSans-Regular', sans-serif;
$sectionTitle: 'gotham-medium'; 

// ==============================

$blueBgLight: #55b7ff;
$blueBgDark: #7d59ff;
$bgBlueLight: #23cbf9;
$bgBlueDark: #3b7fd3;
$txtDark: #2c4058;
$txtLight: white;

// ========== Responsive Font ==========

$mockupSize: 1600;
$minViewPortPx: 320px;
$minViewPortNum: 320;
$minFont: 40px;
$addNum: 40;

// ========== Responsive Font ==========